* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

.nav {
    background-color: rgb(25, 21, 21);
    /* padding: 10px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .head {
    padding-left: 30px;
}

.head a {
    display: flex;
    text-decoration: none;
} */

/* .head a h3:nth-of-type(1) {
    color: rgb(164, 125, 200);
}

.head a h3:nth-of-type(2) {
    color: red;
} */

.logo {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 5px;
}


#one svg {
    padding: 2px 0px 0px 2px;

}

#one {
    color: white;
    background: linear-gradient(31deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 52%, rgba(252, 176, 69, 1) 100%);
    width: 24px;
    height: 24px;
    border-radius: 7px;
}

#two {
    height: 24px;
    color: white;
    background-color: black;
}

#three {
    color: rgb(34, 189, 34);
    width: 22px;
    height: 22px;
    border-radius: 10px;
}

#four svg {
    margin: 1.5px 1px 2px 1px;
    padding-bottom: 5px;
}

#four {
    color: blue;
    background-color: white;
    border-radius: 50px;
    height: 23px;
}

.nav {
    display: none;
}

.content {
    /* width: 100vw; */
    padding: 3px;
    display: none;
    color: white;
    background: #ABA9A6;
    background: linear-gradient(31deg, rgba(171, 169, 166, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(171, 169, 166, 1) 100%);
}

.content ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-top: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    /* padding-left: 80px; */
    /* padding-right: 80px; */
}

.logo button {
    margin-left: 50px;
    color: blue;
    background-color: rgb(25, 21, 21);
    border: none;
    border-radius: 3px;
    padding-right: 20px;
}

.navtwo {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navtwo.fixed {
    /* position: fixed; */
    z-index: 1000;
    top: 0;
    left: 0;
}

.navtwo a img {
    margin: 5px;
    width: 80%;
    height: 50px;
    margin-left: 20px;
}

.navtwo nav {
    display: flex;
    width: 40%;
    height: 100%;
}

.navtwo nav a {
    padding: 20px 50px;
    text-decoration: none;
    /* color: white; */
    font-size: 17px;
}

.navtwo nav a:hover {
    background-color: aliceblue;
    /* light aqua background */
    color: black;
    /* optional: change text color on hover */
}

.video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background-vidio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background: linear-gradient(90deg,rgba(206, 204, 232, .5) 0%, rgba(111, 111, 173, .5) 52%, rgba(202, 208, 219, .5) 100%); */
}

.vidio-text h1 {
    position: absolute;
    margin-top: 50px;
    width: 50%;
    font-size: 50px;
    color: white;
    top: 20%;
    left: 8%;
    /* text-align: center; */
}

.en {
    position: absolute;
    bottom: 10%;
    left: 8%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 22px;
}

.hero-section {
    display: flex;
    padding: 20px 60px;
}

.hero-img {
    max-width: 100%;
    height: auto;
    padding: 50px;
}

.img-fluid {
    width: 100%;
}

.hero-txt {
    padding: 50px;
    width: 50%;
    /* font-size: 24px; */
}

.hero-txt h1 {
    font-size: 48px;
}

.hero-txt h4 {
    margin-bottom: 10px;
    font-size: 24px;
    opacity: .7;
}

.hero-txt p {
    margin-top: 10px;
    opacity: .6;
}

.rn {
    padding: 10px 20px;
    margin-top: 50px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    font-size: 22px;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* line-height: normal; */
    margin: 10px 50px 30px 50px;
    height: 150px;
    background-color: white;
    width: 94%;
    border-radius: 10px;
}

.hero-box-txt {
    border-right: 2px solid rgb(0, 0, 0);
    padding: 0px 50px;
    /* padding-right: 100px; */

}

.hero-box h3 {
    font-size: 50px;
    text-align: center;
}

.hero-box p {
    font-size: 18px;
    opacity: .6;
}

.txt-title {
    padding: 50px;
    background-color: rgba(170, 170, 191, 0.5);
    text-align: justify;
    line-height: 30px;
}

.txt-title h1 {
    text-align: center;
    font-size: 48px;
    padding: 50px;
}

.txt-title p {
    text-align: justify;
    padding: 1px 100px;
    font-size: 20px;
}

.sevices {
    background-color: white;
}

.services-txt {
    padding: 20px 150px;
    background-color: black;
}

.services-txt p {
    color: blue;
    font-size: 18px;
    padding: 10px;
}

.services-txt h1 {
    font-size: 48px;
    color: white;
}

.services-img {
    display: flex;
    padding-bottom: 100px;
}

.services-image-wrapper {
    position: relative;
}

.services-image-wrapper img {
    width: 100%;
    height: 400px;
    border: 2px solid grey;
}

.services-image-wrapper h3 {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    width: 100%;
    height: 70px;
    bottom: 13%;
    font-size: 22px;
}

.services-image-wrapper p {
    position: absolute;
    color: rgb(177, 167, 167);
    background-color: black;
    padding: 5px 15px;
    width: 100%;
    bottom: 1%;
    font-size: 18px;
}

.coes {
    padding: 20px 100px;
    background-color: whitesmoke;
}

.coes-txt p {
    color: blue;
    font-size: 18px;
    padding: 10px;
}

.coes-txt h1 {
    font-size: 48px;
    color: black;
}

.coes-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 300px; */
    /* height: 100vh; */
}

.coes-img-wrapper-a {
    width: 100%;
    height: 275px;
    margin: 10px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
}

.coes-img-wrapper-a h3 {
    padding: 20px;
    font-size: 22px;
}

.coes-img-wrapper-a p {
    padding: 2px 20px;
    font-size: 18px;
    opacity: 0.7;
}

.coes-img-wrapper-a img {
    width: 100%;
    height: 271.5px;
    border-radius: 20px;
}

.solution {
    background-image: url(./img/robin-pierre-dPgPoiUIiXk-unsplash.jpg);
    /* width: 99vw; */
    height: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */

}

.sol-txt-box {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 50px 120px;
    width: 100%;
}

.sol-txt {
    color: white;
    width: 50%;
    margin: 20px;
    /* height: 250px; */
    /* background-color: blueviolet; */
}

.sol-txt p {
    color: white;
    font-size: 18px;
    /* padding: 20px 100px; */
}

.sol-txt h3 {
    font-size: 50px;
    color: white;
    padding: 0px 0px;
    /* width: 40%; */
    /* height: 100%; */
}

.sol-box {
    color: black;
    width: 25%;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    /* padding: 20px 100px ; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sol-box-box {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0px 120px;
    width: 100%;
}

.sol-box-sec {
    color: black;
    width: 25%;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    /* padding: 20px 100px ; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sol-box-sec h3 {
    margin: 20px 30px;
}

/* .future {
    display: flex;
} */

.future-text {
    padding: 20px 100px;
}

.future-text p {
    color: blue;
    font-size: 18px;
    padding: 10px;
}

.future-text h3 {
    color: black;
    font-size: 48px;
    padding: 10px;
}

.future-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.future-box0 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    border: 2px solid grey;
    padding: 20px;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 22px;
}

.future-box0 img {
    padding-top: 0px;
    /* margin-top: 70px; */
    /* padding-left: 50px; */
    border-radius: 20px;
    width: 100%;
    height: 70%;

}

.vav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vav button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: black;
    font-size: 18px;
    color: white;

}

.career {
    position: relative;
}

.career-img img {
    width: 100%;
    height: 700px;
    margin-top: 50px;
}

.career-txt {
    /* border: 1px solid black; */
    width: 600px;
    height: 350px;
    background-color: rgba(241, 234, 234, .3);
    padding: 50px;
    border-radius: 20px;
    margin: 20px 100px;
    position: absolute;
    bottom: 20%;
}

.career-txt p {
    color: blue;
    font-size: 18px;
    padding: 10px;
}

.career-txt h3 {
    color: black;
    font-size: 40px;
    padding: 10px;
}

.career-txt button {
    padding: 15px 30px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: rgba(190, 179, 179, .5);
    font-size: 18px;
    color: black;
}

.upper-footar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    width: 100%;
    color: white;
    font-size: 30px;
    /* margin-top: 10px; */
    padding: 50px 100px;
}

.upper-footar h3 {
    width: 75%;
}

.up-btn {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 20%;
}

.footar {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    background-color: black;
    color: white;
}

.quick-link {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 40px 0px;
    border-bottom: 2px solid grey;
}

.quick-link a {
    text-decoration: none;
    color: white;
    opacity: .7;
}

.subscribe {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 40px 0px;
    border-bottom: 2px solid grey;
}

.subscribe a {
    text-decoration: none;
    color: white;
    opacity: .7;
}

.certified {
    border-bottom: 2px solid grey;
}

.certified img {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 60px;
}

.Socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    /* border-bottom: 2px solid grey; */

}

.smt {
    width: 50%;
}

.smt p {
    opacity: .7;
    padding-top: 5px;
}

.sml {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sml a {
    font-size: 22px;
    border: 1px solid grey;
    padding: 5px 8px;
    margin: 2px;
    border-radius: 50px;
    color: white;
    background-color: grey;
}

/* @media (max-width:1450px) */
@media (max-width:1350px) {
    .navtwo nav a {
        padding: 20px 40px;
    }

    .hero-box {
        margin: 10px;
    }

    .services-image-wrapper p {
        padding: 5px;
    }
}

@media (max-width:1280px) {
    .sol-box {
        width: 50%;
    }

    .navtwo nav a {
        padding: 20px;
    }

}

@media (max-width:1240px) {
    .sol-box-box {
        padding: 10px;
    }

    .services-image-wrapper h3 {
        font-size: 14px;
        padding: 2px;
    }

    .services-image-wrapper p {
        font-size: 10px;
    }
}

@media (max-width:1122px) {

    /* .navtwo{
        width: 98%;
    } */
    .hero-section {
        padding: 20px;
    }

    .hero-txt {
        padding: 10px;
    }

    .hero-txt h1 {
        font-size: 26px;
    }

    .hero-txt h4 {
        font-size: 16px;
    }

    .hero-img {
        padding: 10px;
    }
}

@media (max-width:1080px) {
    .vidio-text h1 {
        width: 90%;
    }

    .navtwo nav a {
        padding: 10px;
    }

    .hero-box h3 {
        font-size: 26px;
    }

    .hero-box-txt {
        padding: 0px 10px;
    }
}

@media (max-width:1001px) {
    .en {
        bottom: 3%;
    }

    .navtwo {
        width: 100%;
    }
.upper-footar{
    padding: 10px;
}
    .footar {
        padding: 10px;
    }
}

@media (max-width:950px) {
    .sol-box-sec {
        margin: 2px;
    }

    .sol-txt-box {
        padding: 0px 5px;
    }

    .sol-txt h3 {
        font-size: 26px;
    }

    .sol-box-box {
        padding: 0px 5px;
    }
}

@media (max-width:850px) {
    .navtwo nav a {
        padding: 2px;
    }

    .hero-box {
        flex-direction: column;
        height: auto;
    }

    .hero-box-txt {
        border: none;
        width: 100%;
        /* padding: 10px;
        margin: 10px; */
    }

    .hero-box h3 {
        text-align: start;
    }

    .hero-box-txt-a {
        border: none;
        width: 100%;
        padding: 10px;
    }

    .txt-title h1 {
        font-size: 26px;
        padding: 10px;
    }

    .txt-title {
        padding: 10px;
    }

}

@media (max-width:780px) {
    .vidio-text h1 {
        font-size: 32px;
    }

    .navtwo {
        width: 100%;
    }

    .navtwo nav a {
        padding: 2px;
    }

    .hero-section {
        flex-direction: column;
    }

    .img-fluid {
        width: 100%;
    }

    .hero-txt {
        width: 100%;
    }

    .coes {
        padding: 0px;
    }

    .coes-img-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }

    .coes-img-wrapper-a {
        margin: 5PX;
    }

    .sol-txt-box {
        flex-direction: column;
    }

    .sol-txt {
        width: 100%;
        margin: 2px;
    }

    .sol-box {
        width: 100%;
        margin: 2px;
    }

    .sol-box-box {
        flex-direction: column;
    }

    .sol-box-sec {
        width: 100%;
    }

    .future-box {
        flex-direction: column;
        /* align-items: flex-start; */
        padding: 5px;
    }

    .future-text h3 {
        font-size: 32px;
    }

    .services-txt h1 {
        font-size: 32px;
    }

    .coes-txt h1 {
        font-size: 32px;
    }

    .upper-footar {
        font-size: 20px;
        flex-direction: column;
        padding: 10px;
    }

    .upper-footar h3 {
        width: 100%;
    }

    .up-btn {
        flex-direction: column;
        width: 100%;
    }

    .career-txt {
        width: 50%;
    }

    .career-txt h3 {
        font-size: 26px;
    }

}

@media (max-width:710px) {
    .logo button {
        margin-left: 0px;
        padding-right: 0px;
    }

    .navtwo {
        justify-content: flex-start;
        margin: 0px 5px;
    }

    .navtwo a img {
        margin: 0px;
    }

    .en {
        padding: 5px 10px;
        font-size: 16px;
    }

    .rn {
        padding: 5px 10px;
        font-size: 16px;
    }

    .career-txt button {
        padding: 5px 10px;
        font-size: 16px;
    }

    .footar {
        padding: 10px;
    }

    .smt {
        width: 100%;
    }

    .Socialmedia {
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        /* margin: 10px; */
        /* padding: 10px; */
    }

    .quick-link {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .sml{
        width: 100%;
    }
    .sml a {
        /* flex-direction: column; */
        margin: 10px;
    }

}

@media (max-width:640px) {
    .txt-title p {
        padding: 10px;
    }

    .services-txt {
        padding: 5px;
    }

    .services-img {
        flex-direction: column;
    }

    .services-image-wrapper h3 {
        font-size: 18px;
        padding: 0px;
    }

    .services-image-wrapper p {
        font-size: 14px;
    }

    .subscribe {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:450px) {
    .navtwo a img {
        margin-left: 2px;
    }

    .logo {
        display: none;
    }

    .logo button {
        display: block;
        color: white;
    }

    .navtwo {
        flex-direction: column;
        align-items: flex-start;
    }

    .navtwo nav a {
        padding: 0px;
    }

    .vidio-text h1 {
        font-size: 16px;
        margin-top: 100px;
    }

    .hero-txt h1 {
        font-size: 18px;
    }

    .coes-txt h1 {
        font-size: 18px;
    }

    .services-txt h1 {
        font-size: 18px;
    }

    .future-text {
        padding: 2px;
    }

    .future-text h3 {
        font-size: 22px;
    }

    .sol-txt h3 {
        font-size: 18px;
    }

    /* .upper-footar {
        flex-direction: column;
    } */
}

@media (max-width:335px){
    .sml a{
        margin: 0px;
    }
}